doctype html
html
    head
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        block stylesheets
        title AORIMAX
    body
        .navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="/") AORIMAX
                ul.nav.navbar-nav
                    li: a(href="/rooms/new") Create room
        .container-fluid
            block contents
        script(src="/jquery-2.1.4.min.js")
        script(src="/socket.io/socket.io.js")
        block scripts
